# .env
DATABASE_URL="mysql://admin:your_password@localhost:3306/workout_db"
DATABASE_HOST="localhost"
DATABASE_USER="admin"
DATABASE_PASSWORD="your_password"
DATABASE_NAME="workout_db"
DATABASE_PORT=3306
