DATABASE_URL="mysql://admin:your_password@localhost:3306/auth_db"

JWT_ACCESS_SECRET="must be 32 chars at list and strog"
JWT_REFRESH_SECRET="super and must be 32 chars at list and strog"

PORT=3000

# development or test or production
NODE_ENV="development"
